/* tipografias */

/* Paleta de Colores:  */


/* PRINCIPAL */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #c5ccfc;
}
h3:hover {
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 720px) and (max-height: 1280px) {
  body {
    background-color: #8595ff;
  }
}
